doctype html
html
   head
      title=title
   body
      h1 Website about #{hh}
      div "It's #{temp} degrees."
      form(action = "/", method = "POST")
         div
            label(for = "city") Enter city:
            input(id=city, name = "city", type = "text")
         br
         button(id = "search", type = "submit") Search
      div Hey, #{name}
      br

      div
        a(href = 'user') My Quaters
      br
      div
        a(href = 'logout') Logout
      br
